body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #964caf;
    color: white;
    padding: 10px;
    text-align: center;
}

#searchInput {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
}

main {
    display: flex;
    justify-content: space-around;
}

#folders, #fileList {
    width: 45%;
}

.folder, .file {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
}

.folder:hover, .file:hover {
    background-color: #f0f0f0;
}

#sortButton {
    margin: 10px;
}
